<%- include('partials/header'); %>

<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos incidunt doloremque cum cumque quaerat eos
    dolore velit facilis repellat error, dolor provident deleniti ad ipsum beatae maiores et asperiores magnam.</p>

<%- include('partials/footer'); %>